/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_light {
  --cover-image: url(../images/cover-image-light.png);
  --background-color: #fff1f7;
  --text-color: #353430;
  --accent-color: #ff8dcb;
  --onTitle-color: #ffc2e6;
  --color-onMenu: #353430;
  --border-color: rgba(53, 52, 48, 0.5);
  --textOnBlocks: #353430;
  --color-questionTitle: #353430;
  --questionListTitle: #353430;
  --visible: hidden;
}

@media (prefers-color-scheme: light) {
  :root {
    --cover-image: url(../images/cover-image-light.png);
    --background-color: #fff1f7;
    --text-color: #353430;
    --accent-color: #ff8dcb;
    --onTitle-color: #ffc2e6;
    --color-onMenu: #353430;
    --border-color: rgba(53, 52, 48, 0.5);
    --textOnBlocks: #353430;
    --color-questionTitle: #353430;
    --questionListTitle: #353430;
    --visible: hidden;
  }
}
