/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_light {
  --cover-image: url(../images/cover-image-light.png);
  --background-color: #fff1f7;
  --text-color: #353430;
  --accent-color: #ff8dcb;
  --title-color: #ffc2e6;
  --color-menu: #353430;
  --border-color: rgba(53, 52, 48, 0.5);
  --text-on-blocks: #353430;
  --color-question-title: #353430;
  --question-list-title: #353430;
  --visible: hidden;
}

@media (prefers-color-scheme: light) {
  :root {
    --cover-image: url(../images/cover-image-light.png);
    --background-color: #fff1f7;
    --text-color: #353430;
    --accent-color: #ff8dcb;
    --title-color: #ffc2e6;
    --color-menu: #353430;
    --border-color: rgba(53, 52, 48, 0.5);
    --text-on-blocks: #353430;
    --color-question-title: #353430;
    --question-list-title: #353430;
    --visible: hidden;
  }
}
